<h3>Hey. This is a site about bird watching.</h3>

  <img src="public/img/bird.png" alt="bird" height="300" width="300"> 

 <p>
 See the <a href="{{url1}}">list</a> or change my  <a href="{{url2}}">settings</a> 
</p>
<br>