<!doctype html>
<html lang = "en">
<head>
    <meta charset="utf-8" />
    <title>Main Handlebars</title>
     <link rel="stylesheet" type="text/css" href="public/css/base.css">
</head>
<body>

	<div style='position: top; bottom:0;
    height:55px;'>
    <h1>The Busy Birder</h1>
	</div>
    {{{body}}}

</body>
</html>
